<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"><Application>Microsoft Office PowerPoint</Application><ScaleCrop>0</ScaleCrop><Company>CoB</Company><LinksUpToDate>0</LinksUpToDate><AppVersion>16.0000</AppVersion></Properties>